{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .event-items:hover {
        background-color:rgb(185, 96, 245);
        border: solid 10px rgb(185, 96, 245);
        border-radius: 5px;
    }
    .th, .td {
        border-bottom: 1px solid #ddd;
    }
    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
    background-color: #7c07b7;
    color: #ffffff;
    text-align: left;
    }
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }   

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #7c07b7;
    }

    .styled-table tbody tr:nth-child(even) {
        font-weight: bold;
        color: #7c07b7;
    }

</style>



<h2>Events</h2>
<table class="styled-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Descrption</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr class="event-items">
            <td>{{ event.type }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}